:root {
  --primary: #40679e;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #010101;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary);
  align-items: center;
  padding: 1.4rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
}
.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: var(--primary);
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 500;
  color: var(--primary);
  transition: all 0.2s ease-in-out;
}

.navbar .navbar-nav a:hover {
  background-color: var(--primary);
  color: white;
}

.navbar .navbar-nav a::after {
  content: "";
  background-color: var(--primary);
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.profil {
  padding: 5rem 7% 1.4rem;
  flex: 1;
  display: flex;
  align-items: center;
  margin-inline: auto;
}

.profil .content {
  flex: 1;

  display: flex;
  align-items: center;
}

.profil .content .content-description {
  flex: 1 1;
}

.profil .content .content-description .title {
  margin-block: 1rem;
  font-size: 4.5rem;
}

.profil .content .content-description h1 {
  color: var(--primary);
}
.profil .content .content-description p {
  font-size: 1.5rem;
  line-height: 1.7rem;
  margin-bottom: 1rem;
}

.profil .content .content-description h3 {
  color: var(--primary);
  font-size: 2rem;
  font-style: italic;
}

.profil .content .content-description a {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border: 3px solid transparent;
  border-radius: 999px;
  background-color: var(--primary);
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: all 0.15s ease-in;
  margin-top: 1rem;
}

.profil.content .content-description a:hover {
  border: 3px solid var(--primary);
  background-color: transparent;

  color: #2d3e50;
}

.profil .content .content-image {
  flex: 1;

  display: flex;
}

.profil .content .content-image img {
  width: 90%;
  min-width: 250px;
  margin: auto;
  border-radius: 50%;
  background-color: var(--primary);
}
